@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --myFont: "Figtree", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--myFont);
  color: #54575a;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f3f8f7 49.91%,
    #fff9f5 94.19%
  );
}

.wrapper {
  position: relative;
  width: 1440px;
  min-height: 100vh;
  margin: auto;
}

.title {
  font-size: 64px;
  font-weight: 500;
  line-height: 68px;
  text-align: left;
  width: 458px;
  height: 135px;
  top: 236px;
  left: 221px;
  position: absolute;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}
.brand-img {
  position: absolute;
  width: 193px;
  height: 47.64px;
  left: 221px;
  top: 50.25px;
}
